/* COLORS
    Primary
    orange: #F78C25
    yellow: #F5B514
    dark grey: #333333
    teal: #27888C
    Secondary
    white: #FFFFFF
    light grey: #D3D3D3
    grey: #808080
    black: #000000
*/
body{
    margin: 0;
    padding: 0;
}
/* H1 - P*/
h1{
    font-size: 48px;
    font-style: bold;
}
p{
    font-size: 24px;
}
ul{
    list-style: none;
}
button{
    background-color: #F78C25;
    border: none;
    font-size: 20px;
    font-style: bold;
    color: white;
    border-radius: 8px;
    padding: 5px 20px;
}
#icon{
    color: white;
}
/* NAVIGATION */ 
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    position: sticky;
    top:0;
    width: 100%;
    padding: 10px 20px 0 20px;
}
.left-links{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
 }
 .links:hover {
    border-bottom: 2px solid white;
 }
 .selected{
    border-bottom: 2px solid white;
 }
 .topnav .icon {
    display: none;
  }
/* HERO */
.hero-title{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 10px;
    left: 5%;
    bottom: 25%;
}
.card-section{
    display: flex;  
    margin: 30px auto;
    padding: 15px;
}
.card-section .card{
    flex: 0 0 auto;
    margin: 15px;
}
/* FLEXBOX */
.flexbox{
    display: flex;
    flex-wrap: nowrap;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.left, .right {
    text-align: left;
}