/* COLORS
    Primary
    orange: #F78C25
    yellow: #F5B514
    dark grey: #333333
    teal: #27888C
    Secondary
    white: #FFFFFF
    light grey: #D3D3D3
    grey: #808080
    black: #000000
*/
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    color: white;
}
/* H1 - P*/
h1{
    font-size: 48px;
    font-style: bold;
}
h2{
    font-size: 36px;
    font-style: bold;
}
h3{
    font-size: 28px;
    font-style: normal;
    color: black;
}
h4{
    font-size: 16px;
    color: #D3D3D3;
}
p{
    font-size: 22px;
    font-style: normal;
}
ul{
    list-style: none;
}
button{
    background-color: #F78C25;
    border: none;
    font-size: 20px;
    font-style: bold;
    color: white;
    border-radius: 8px;
    padding: 5px 20px;
}

#icon{
    color: white;
}
/* NAVIGATION */ 
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    position: relative;
    top:0;
    width: 100%;
    padding: 10px 20px 0 20px;
    align-items: center;
    z-index: 1;
    overflow: visible;
}
.left-links{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
 }
 .lined:hover {
    border-bottom: 2px solid white;
 }
 .selected .lined{
    border-bottom: 1px solid white;
 }
 .topnav .icon {
    display: none;
}

footer{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(19,108,109,1) 20%, rgba(34,193,195,1) 30%, rgba(34,193,195,1) 70%, rgba(19,108,109,1) 80%, rgba(0,0,0,1) 100%);
}
/* HERO */
.hero img{
    position: relative;
    z-index: -1;
    height: 625px;
    object-fit: cover;
}
.hero-title{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 10px;
    left: 5%;
    right: 40%;
    bottom: 15%;
}
/* CARDS */ 
.card-section{
    display: flex;  
    margin: 30px auto;
    padding: 15px;
}
.card-section .card{
    flex: 0 0 auto;
    margin: 15px;
}
.card-section .row{
    flex-wrap: nowrap;
}

.card{
    background-color: #F78C25;
    width: 200px;
}
.card img{
    width: 200px;
    height: 266px;
    object-fit: cover;
}
.card-text{
    text-align: center;
}
/* SIMULCASTS */ 
.simulcasts{
    background-image: url("images/crunchyroll-hime.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 513px;
    object-fit: cover;
    background-color: #D3D3D3;
    padding: 30px 60px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
     "intro card1 card2"
     "intro card3 card4";
    gap: 5px;
    align-items: center;
}
#intro{
    grid-area: intro;
}
#card1{
    grid-area: card1;
    display: inline-block;
}
#card2{
    grid-area: card2;
    display: inline-block;
}
#card3{
    grid-area: card3;
    display: inline-block;
}
#card4{
    grid-area: card4;
    display: inline-block;
}
/* EPISODE LIST */
.episodes{
    margin: 75px;
}
.episodes .card{
    width: 480px;
}
.episodes img{
    width: 480px;
    height: 270px;
    object-fit: cover;
}
.episodes .card-text{
    text-align: left;
}
/* REVIEWS */ 
.reviews{
    margin: 75px;
}
.reviews .user{
    align-items: center;
}
.reviews .avatar{
    display: inline-block; 
    margin: 10px 20px 10px 0;
}
.reviews img{
    width: 72px;
    height: 72px;
}
/* myAccount */ 
.accountBackground{
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(41,107,112,1) 33%, rgba(42,63,71,1) 57%, rgba(236,110,19,1) 100%);
}