/* COLORS
    Primary
    orange: #F78C25
    yellow: #F5B514
    dark grey: #333333
    teal: #27888C
    Secondary
    white: #FFFFFF
    light grey: #D3D3D3
    grey: #808080
    black: #000000
*/
body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    color: white;
}
/* H1 - P*/
h1{
    font-size: 48px;
    font-style: bold;
}
p{
    font-size: 24px;
}
ul{
    list-style: none;
}
button{
    background-color: #F78C25;
    border: none;
    font-size: 20px;
    font-style: bold;
    color: white;
    border-radius: 8px;
    padding: 5px 20px;
}

footer{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(19,108,109,1) 20%, rgba(34,193,195,1) 30%, rgba(34,193,195,1) 70%, rgba(19,108,109,1) 80%, rgba(0,0,0,1) 100%);
}
/* HERO */
.hero-title{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 10px;
    left: 5%;
    bottom: 25%;
}
.card-section{
    display: flex;  
    margin: 30px auto;
    padding: 15px;
}
.card-section .card{
    flex: 0 0 auto;
    margin: 15px;
}

.card{
background-color: #F78C25;

}

/* FLEXBOX */
.flexbox{
    display: flex;
    flex-wrap: nowrap;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}
.left, .right {
    text-align: left;
}

#icon{
    color:white;
}